[submodule "dlkit_edx"]
	path = dlkit_edx
	url = https://bitbucket.org/cjshaw/dlkit_edx.git
[submodule "records"]
	path = records
	url = https://cjshaw@bitbucket.org/cjshaw/records.git
[submodule "dlkit"]
	path = dlkit
	url = https://cjshaw@bitbucket.org/cjshaw/dlkit-lite.git
[submodule "dlkit_runtime"]
	path = dlkit_runtime
	url = https://cjshaw@bitbucket.org/cjshaw/dlkit_runtime.git
